.logo{
    margin: auto;
    width: 25px;
  }
  
  .App {
    text-align: center;
    
    height: 100vh;
    box-shadow: inset -50px -50px 200px 50px rgba(0, 0, 0, 0.25), inset 50px 50px 200px 50px rgba(0, 0, 0, 0.25);
  }
  
  .UserNameAndLanguage {
  
    margin: auto;
    /* display: flex; */
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 0px -4px 4px rgba(255, 255, 255, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
  
    /* Note: backdrop-filter has minimal browser support */
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 30px;
  }
  
  .UserName {
    /* float: left; */
    padding-right: 50px;
    min-width: 100px;
    max-width: 200px;
    padding-right: 100;
    color: white;
    width: 50%;
    border: 0.5px solid #FFFFFF;
    border-radius: 15px;
  }
  
  input{
    font-size: medium;
    margin-left: 15px;
    /* margin-right: 20px; */
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: transparent;
    border: none;
    color: white;
  }
  
  input::placeholder{
    color: white;
  }
  
  input:focus{
    outline: none;
  
  }
  
  select{
    background-color: transparent;
    border: none;
    color: white;
    margin: auto;
  }
  /* select:{
    background-color: transparent;
    color: black;
  } */
  
  select:focus{
    outline: none;
  }
  
  .LanguageSelect {
  
    color: white;
  
    padding-inline-start: 10px;
    padding-right: 100px;
    width: 30%;
    border: 0.5px solid #FFFFFF;
    border-radius: 15px;
  }
  
  .All-Quizes {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: max-content;
    margin: auto;
    
  }
  
  .singlequiz {
    width: max-content;
    margin: auto;
  }
  .Quiz {
    
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    width: 250px;
    min-width: 150;
    margin-top: 100px;
    height: calc(min-content+50);
    /* height: 200px; */
    background: rgba(255, 255, 255, 0.1);
    /* box-shadow: 0px 0px 5px 0px #0ff; */
    /* border: 2px solid #00B2FF; */
    backdrop-filter: blur(10px);
    border-radius: 50px;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .Description{
    height: 80px;
  }
  
  b {
    font-size: 20px;
  }
  
  p {
    font-size: 14px;
    line-height: normal;
  }
  
  .TakeQuiz{
    /* vertical-align: bottom; */
    padding: 10px;
    margin: auto;
    height: 35px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }